.advantages {
  background-color: $navy;
  color: $white;
  text-align: center;
}

.advantages__feature--black {
  padding-top: 5px;
  padding-bottom: 30px;
  background-color: #eeeeee;
  position: relative;
}

.advantages__wrapper {
  background-color: #eeeeee;
}

.advantages__feature--black::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #d6d6d6;
  left: 20px;
  right: 20px;
  bottom: 0;
}

.advantages__feature--black:last-of-type::after {
  border: none;
}

.advantages__title {
  @include font-heading;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  color: $white;
}

.advantages__number {
  display: block;
  margin-bottom: 18px;
  font-family: $font-main;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages__expanding-text {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-family: $font-main;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages__list {
  margin: 0;
  padding: 20px 20px 20px 20px;
  text-align: left;
  background-color: $white;
  color: $dark;
  list-style: none;
}

.advantages__list-wrapper {
  width: 18%;
}

.advantages__list-description {
  width: 70%;
}

.advantages__list-wrapper img {
  width: 40px;
  height: 40px;
}

.advantages__item {
  margin-bottom: 12px;
  display: flex;
}

.advantages__item h3 {
  @include font-heading;
  line-height: 18px;
}

.advantages__description {
  @include font-text;
  margin: 0;
  color: $dark;
  line-height: 22px;
}

.advantages__title--black,
.advantages__number--black,
.advantages__expanding-text--black {
  color: $black;
}

.advantages__block {
  padding: 25px;
  margin-bottom: 10px;
}

.advantages__image-holder {
  position: relative;
  height: 260px;
}

.advantages__image {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .advantages__feature {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .advantages__block {
    width: 33%;
    margin-bottom: 0;
  }

  .advantages__title {
    font-size: 21px;
  }

  .advantages__number {
    margin-bottom: 20px;
  }

  .advantages__list-wrapper {
    width: 100%;
  }

  .advantages__list-description {
    width: 100%;
  }

  .advantages__list-wrapper img {
    width: 80px;
    height: 80px;
  }

  .advantages__image-holder {
    width: 67%;
  }

  .advantages__list {
    display: flex;
    text-align: center;
  }

  .advantages__item {
    display: block;
    text-align: center;
    width: 33%;
    margin-top: 40px;
    padding-left: 0;
  }

  .advantages__item h3 {
    padding: 0;
    display: block;
  }

  .advantages__item--house {
    order: 1;
  }

  .advantages__item--present {
    order: 3;
  }

  .advantages__item--food {
    order: 2;
  }

  .advantages__image--left {
    order: 1;
  }

  .advantages__block--right {
    order: 2;
  }

  .advantages__description {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    display: inline-block;
    margin-bottom: 15px;
  }

  .advantages__wrapper {
    display: flex;
    justify-content: space-around;
  }

  .advantages__feature--black {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 25px;
    padding-bottom: 45px;
    text-align: center;
  }

  .advantages__feature--black::after {
    border: none;
  }

  .advantages__title--black {
    font-size: 21px;
  }
}


@media (min-width: 1200px) {
  .advantages__description {
    padding-bottom: 40px;
    padding-top: 6px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .advantages__title {
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 20px;
  }

  .advantages__expanding-text {
    padding-left: 30px;
    padding-right: 30px;
  }

  .advantages__list {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .advantages__title--black {
    padding-left: 90px;
    padding-right: 90px;
  }

  .advantages__feature--black {
    margin-bottom: 25px;
  }

  .advantages__block {
    padding-top: 35px;
  }

  .advantages__list-description h3 {
    font-size: 21px;
    margin-top: 28px;
  }

  .advantages__image-holder {
    height: 256px;
  }
}
