.banner {
  margin-bottom: 40px;
  text-align: center;
  /*-webkit-clip-path: polygon(0 90%, 50% 100%, 100% 90%);
  clip-path: polygon(0 90%, 50% 100%, 100% 90%);*/
}

.banner__promo-title {
  @include font-heading;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
}

.banner__promo-text {
  padding-left: 25px;
  padding-right: 25px;
  font-family: $font-main;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.banner__image-holder {
  margin-top: -40px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 390px;
  background: url("../img/bg-back-desktop@1x.jpg");
  background-position: 50% 30%;
}

.banner__main-img {
  position: absolute;
  width: 280px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .banner__image-holder {
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-position: 50% 30%;
  }
}

@media (min-width: 768px) {
  .banner__image-holder {
    margin-top: 0;
    height: 515px;
    margin-bottom: 55px;
    /*background-position: 50% 50%;*/
  }

  .banner__promo-title {
    font-size: 21px;
  }

  .banner {
    margin-bottom: 50px;
  }

  .banner__main-img {
    width: 500px;
    height: auto;
    font-size: 60px;
  }
}

@media (min-width: 1200px) {
  .banner__image-holder {
    margin-bottom: 55px;
  }
}
