.button {
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $navy;
  font-family: $font-title;
  color: $white;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.button:hover {
  background-color: $navy-hover;
}

.button:active {
  background-color: $navy-active;
}

.button:disabled {
  background-color: #e5e5e5;
}
