.container {
  width: 280px;
  margin: 0 auto;
}

.container--index {
  width: 320px;
  margin: 0 auto;
}


@media (min-width: 768px) {
  .container {
    width: 648px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container--form {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container--form {
    width: 648px;
  }
}

@media (min-width: 1200px) {
  .container--form {
    width: 960px;
  }
}

