.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px dotted $pink;
  margin-bottom: 8px;
}

.header__logo {
  width: 124px;
}

.header__activate-cashback {
  width: 142px;
  background-color: $pink;
  font-family: $font-main;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: $white;
  padding-top: 8px;
  padding-bottom: 7px;
  border-radius: 3px;

  &:hover {
    background-color: #ed2d3f;
  }
}
