.page-footer {
  padding: 20px;
  text-align: center;
}

.social__twitter,
.social__facebook,
.social__youtube,
.copyright__icon {
  @include visually-hidden;
}

.copyright__text {
  @include font-text;
}

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
