.photo {
  background-color: $white;
}

.photo__item {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #eeeeee;
}

.photo__title {
  margin: 0;
  padding: 0;
  font-family: $font-main;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.photo__author {
  font-family: $font-main;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
}

.photo__likes-count {
  display: inline-block;
  font-family: $font-main;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .photo {
    display: flex;
    flex-wrap: wrap;
  }

  .photo__item {
    width: 325px;
    border: none;
    padding: 0;
    background-color: $beige;
  }

  .photo__item--main {
    width: 1200px;
  }

  .video__image {
    width: 650px;
    height: 500px;
  }
}

@media (min-width: 1200px) {
  .photo__item {
    width: 400px;
  }

  .photo__item--main {
    width: 1200px;
  }

  .video__image {
    width: 800px;
    height: 500px;
  }
}
