.review-prompt {
  border-bottom: 1px solid #eeeeee;
  text-align: center;
}

.review-prompt__page-title {
  @include font-heading;
  margin-bottom: 25px;
}

.review-prompt__promo-text {
  @include font-text;
  line-height: 24px;
  margin-bottom: 17px;
}

@media (min-width: 768px) {
  .review-prompt {
    border: none;
    margin-bottom: 60px;
  }

  .review-prompt__page-title {
    font-size: 30px;
    padding-top: 10px;
    margin-bottom: 30px;
  }

  .review-prompt__promo-text {
    padding-left: 105px;
    padding-right: 105px;
  }
}

@media (min-width: 1200px) {
  .review-prompt__promo-text {
    padding-left: 260px;
    padding-right: 260px;
  }

  .review-prompt {
    margin-bottom: 40px;
  }
}
