.review {
  padding-left: 20px;
  padding-right: 20px;
}

.review__block {
  padding: 0;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #eeeeee;
}

.review__title {
  @include font-heading;
  position: relative;
  display: block;
  text-align: center;
}

.review__field-name {
  @include font-text;
}

.review__input {
  display: inline-block;
  height: 58px;
  background-color: #f2f2f2;
  padding: 16px 22px;
  border: none;
  margin-bottom: 20px;
}

.review__input::placeholder {
  @include font-heading;
  text-transform: none;
}

.review__input::-moz-placeholder,
.review__describe::placeholder {
  opacity: 1;
}

.review__describe {
  background-color: #f2f2f2;
  width: 100%;
  height: 160px;
  margin-bottom: 50px;
  border: none;
  padding: 20px;
}

.review__fake-label {
  @include font-heading;
  text-transform: none;
}

.review__describe::placeholder {
  @include font-heading;
  text-transform: none;
}

.review__button {
  cursor: pointer;
  border: none;
}

.review__required {
  @include font-text;
  display: none;
}

@media (min-width: 768px) {
  .review {
    padding-left: 60px;
    padding-right: 60px;
  }

  .review__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .review__title {
    font-size: 21px;
    margin-bottom: 30px;
  }

  .review__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: center;*/
    width: 100%;
    order: 3;
    border: none;
    margin-bottom: 50px;
  }

  .review__block--left {
    width: 50%;
    order: 1;
    border-right: 1px solid #dbdbdb;
    margin-bottom: 60px;
  }

  .review__block--right {
    width: 50%;
    order: 2;
    margin-bottom: 60px;
  }

  .review__input--contact {
    display: block;
    width: 100%;
  }

  .review__sights {
    display: flex;
    flex-wrap: wrap;
  }

  .review__sights label {
    width: 50%;
  }

  .review__button {
    max-width: 324px;
  }

  .review__required {
    display: inline-block;
  }

  .review__separator {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .review__title--border::after {
    content: "";
    display: block;
    border-top: solid 1px $beige;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
  }

  .review__borderline {
    background: $white;
    padding: 0 55px;
    position: relative;
    z-index: 5;
    text-align: center;
  }

}

@media (min-width: 1200px) {
  .review__button {
    max-width: 480px;
  }

  .review__labelwrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .review__field-name--contact {
    display: inline-block;
    width: 400px;
  }
  .review__field-name--email {
    width: 480px;
  }

  .review__input--contact {
    display: inline-block;
    width: 317px;
  }

  .review__sights {
    flex-wrap: nowrap;
  }
}
