.site-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.site-list__item {
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  &:last-child {
    border-bottom: none;
  }

  &:first-child {
    border-top: none;
  }
}

.site-list__link {
  display: block;
  color: $white;
  text-decoration: none;
  padding-top: 7px;
  padding-bottom: 7px;
}

.site-list a[href] {
  &:hover {
    background-color: $navy-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $navy-active;
  }
}

@media (min-width: 768px) {
  .site-list {
    flex-direction: row;
    max-height: 56px;
  }

  .site-list__item {
    width: 20%;
    border: none;
  }

  .site-list a[href] {
    &:hover {
      background-color: transparent;
      color: $navy;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: transparent;
    }
  }

  .site-list__link {
    color: black;
  }
}
